.demo-card-square.mdl-card {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: #3F51B5;
}
.header {
  display: block;
  font-weight: bold;
}
.text {
  display: block;
  margin-top: 8px;
}
.margin-top-20 {
  margin-top: 20px;
}
