.demo-card-square.mdl-card {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: #3F51B5;
}
