.demo-card-square.mdl-card {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  height: 320px;
  width: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: #3F51B5;
}
.header {
  display: block;
  font-weight: bold;
}
.text {
  display: block;
  margin-top: 8px;
}
.margin-top-20 {
  margin-top: 20px;
}
.img-section {
  text-align: center;
  margin: 80px 0;
}
.screenshot-img {
  height: 500px;
  margin-bottom: 20px;

  .larger {
    height: 700px;

    @media (max-width: 866px) {
      height: 500px;
    }
  }
}
